@import '../../../styles/libs';

.pagination {
  display: flex;
  gap: 8px;

  width: 100%;

  &.hidden {
    display: none;
  }

  &.small {
    gap: 6px;
  }
}

.skeleton {
  width: 32px;
  height: 32px;

  &.border-radius {
    border-radius: 100%;
  }
}

.page-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 0 16px;

  color: $BLUISH-GRAY-500;
  font-weight: 400;
  font-size: $SMALL;

  &.small {
    font-size: $SMALL2X;
    margin: 0;
  }
}

.page-indicator-skeleton {
  width: 5em;
  height: 1em;
  margin: auto 1em;
}
