@import '../../../styles/libs';

.fixed-body {
  overflow: hidden;

  height: 100vh;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  &.blur {
    backdrop-filter: blur(4px);

    background-color: rgba(0, 0, 0, 0.3);
  }

  @include fade-in(0.5s);

  &.closing {
    @include fade-out(0.3s);
  }

  @include priority-background-layer;
}

@layer default {
  .focus-layer {
    position: relative;
    display: inline-block;

    width: fit-content;
    height: fit-content;
  }
}

.focus-layer {
  &.global {
    position: fixed;
  }

  @include priority-focus-layer;
}
