@import '../../../styles/libs';

.textbox {
  border: 1px solid #e7e9eb;
  padding: 0 12px;
  background-color: $WHITE;
  border-radius: 8px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  position: relative;
  box-sizing: border-box;
}

.textbox-control {
  outline: none;
  border: none;
  margin: 10px 0;
  &::placeholder {
    color: #bcbcbc;
  }
  width: 100%;
  font-size: 13px;
}
