@import '../../../styles/libs';

.info-card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 32px;
  border: 1px solid $BLUISH-GRAY-100;
  border-radius: 16px;

  background-color: $WHITE;

  color: $BLUISH-GRAY-700;
}

.header {
  display: flex;
  gap: 16px;
  align-items: center;

  padding-bottom: 24px;
  border-bottom: $BLUISH-GRAY-100 1px solid;
}

.title {
  font-weight: 700;
  font-size: $NORMAL;
}

.date {
  color: $BLUISH-GRAY-400;
  font-weight: 500;
  font-size: $SMALL;
}

.table {
  display: grid;
  grid-template-columns: fit-content(1em) 1fr;

  margin: 24px 0;
}

.table-title,
.table-data {
  padding: 8px 0;
  border-bottom: 1px solid $BLUISH-GRAY-100;

  font-weight: 500;
  font-size: $SMALL;
}

.table-title {
  min-width: 120px;

  white-space: nowrap;
}

.table-data {
  padding-left: 16px;

  white-space: pre;
}

.body {
  font-weight: 500;
  font-size: $SMALL;
  white-space: pre-wrap;
}
