@use 'src/styles/libs' as *;

.floating-modal-container {
  position: fixed;
  right: 0;
  bottom: 32px;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: fit-content;
  height: 40px;
  margin: 0 auto;
  padding: 9.5px 24px;
  border: 1px solid $BLUISH-GRAY-200;
  border-radius: 8px;

  background-color: $WHITE;
  box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.24);

  &.open {
    @include fade-in-bottom;
  }

  &.closing {
    @include fade-out-bottom;
  }

  .floating-modal-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .floating-modal-tail {
    &.with-border {
      padding-left: 24px;
      border-left: 1px solid $BLUISH-GRAY-200;
    }
  }
}
