@import '../../../styles/libs';

.hr {
  margin: 0;
  padding: 0;
  border-style: solid;

  //* Color
  &.color-bluish-gray-100 {
    border-color: $BLUISH-GRAY-100;
  }
  &.color-purple-550 {
    border-color: $PURPLE-550;
  }

  //* Weight
  &.weight-thin {
    border-width: 0.5px;
  }

  &.weight-medium {
    border-width: 1px;
  }

  &.weight-thick {
    border-width: 1.5px;
  }
}
