@import '../../../styles/libs';

.label {
  display: inline-block;

  color: $BLUISH-GRAY-700;
  white-space: pre;

  &.space-small {
    display: flex;
    align-items: center;

    height: 32px;
  }

  &.space-medium {
    display: flex;
    align-items: center;

    height: 40px;
  }

  &.space-large {
    display: flex;
    align-items: center;

    height: 48px;
  }
}

.label-container {
  display: flex;
  gap: 10px;

  &.row {
    align-items: flex-start;
    justify-content: space-between;
  }

  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
}
