@import '../../../styles/libs';

.label {
  display: inline-block;

  color: $BLUISH-GRAY-700;
  white-space: pre;
  @include font-size;
  @include font-weight;
}

.label-container {
  display: flex;
  gap: 10px;

  &.row-start {
    align-items: undefined;

    margin-top: 0.5rem;
  }

  &.row-center {
    align-items: center;
    justify-content: space-between;
  }

  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
}
