@import '../../../styles/libs';

.dropdown {
  position: absolute;

  border: 1px solid $BLUISH-GRAY-100;
  border-radius: 8px;

  background-color: $WHITE;
  box-shadow: 0 0 8px rgb(152 151 151 / 8%), 0 4px 16px rgb(171 171 171 / 24%);

  @include fade-in(0.3s);

  &.closing {
    @include fade-out(0.3s);
  }
}

@layer default {
  .dropdown {
    right: 0;

    width: fit-content;
    height: fit-content;
  }
}
