@use './libs/vars' as fontSize;

.font-size-large4x {
  font-size: fontSize.$LARGE4X;
}
.font-size-large3x {
  font-size: fontSize.$LARGE3X;
}
.font-size-large2x {
  font-size: fontSize.$LARGE2X;
}
.font-size-large {
  font-size: fontSize.$LARGE;
}
.font-size-medium {
  font-size: fontSize.$MEDIUM;
}
.font-size-normal {
  font-size: fontSize.$NORMAL;
}
.font-size-small {
  font-size: fontSize.$SMALL;
}
.font-size-small2x {
  font-size: fontSize.$SMALL2X;
}
.font-size-small3x {
  font-size: fontSize.$SMALL3X;
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-400 {
  font-weight: 400;
}
