@import '../../../styles/libs';

.skeleton {
  position: relative;
  overflow: hidden;

  background-color: $BLUISH-GRAY-100;
  @include fade-in;
}

@layer {
  .skeleton {
    width: 10em;
    height: 2em;
    border-radius: 4px;
  }
}

.text-space {
  visibility: hidden;
}

@layer default {
  .text-space {
    width: fit-content;
    height: fit-content;
  }
}

.shimmer-wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  animation: shining 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;

  background-color: rgba($WHITE, 0.5);
  box-shadow: 0 0 30px 30px rgba($WHITE, 0.4);

  transform: skewX(-15deg);
}

@keyframes shining {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translate(150%);
  }
}
