@import '../../../styles/libs';

.partner-accordion {
  background-color: $BLUISH-GRAY-10;
}

.title-container {
  display: flex;
  flex: 1;
}

.title-text {
  flex: 1;
  overflow: hidden;

  color: $BLUISH-GRAY-700;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-contents {
  display: flex;
  gap: 16px;
  align-items: center;
}

.partner-profile-icon {
  border-radius: 100%;
}

.contents {
  color: $BLUISH-GRAY-700;
  font-weight: 500;
}
