@use 'src/styles/libs' as *;

.action-floating-modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .action-count {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    padding-right: 24px;
    border-right: 1px solid $BLUISH-GRAY-200;
    .action-count-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 19px;
      height: 16px;
      border-radius: 40px;

      background-color: $PURPLE-600;

      color: $WHITE;
      font-weight: 500;
      font-size: $SMALL3X;
    }
    .action-count-text {
      font-weight: 600;
      font-size: $SMALL;
      font-size: 14px;
    }
  }
}
