@import '../../../styles/libs';

.modal-container {
  background-color: $WHITE;
  @include fade-in(0.5s);
  width: 520px;
  border-radius: 16px;
  margin: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  > section {
    padding: 24px;
    flex: 1;
    overflow-y: auto;
  }

  > footer {
    padding: 16px 32px;
    border-top: $BLUISH-GRAY-100 solid 1px;
  }
}

.tab-menu {
  height: 75px;
}

.modal-header {
  position: relative;
  padding: 0 24px;
  border-bottom: $BLUISH-GRAY-100 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
