@import '../../../styles/libs';

.modal-container {
  background-color: $WHITE;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include fade-in;
  max-width: 520px;
  min-width: 350px;
  width: 95%;
  max-height: 80vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  &.closing {
    @include fade-out;
  }
}

.modal-body {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}

.modal-footer {
  padding: 16px 32px;
  &.with-border {
    border-top: $BLUISH-GRAY-100 solid 1px;
  }
}

.tab-menu {
  height: 75px;
}

.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  &.with-border {
    border-bottom: $BLUISH-GRAY-100 solid 1px;
  }
}
