@import '../../../styles/libs';

.input {
  outline: none;
  border: none;
  margin: 10px 0;
  color: inherit;
  font-weight: 500;
  background-color: inherit;
  transition: color 0.3s;
  text-align: start;
  font-size: 13px;

  &::placeholder {
    color: $BLUISH-GRAY-300;
  }

  &:disabled {
    &.readonly {
      color: $BLUISH-GRAY-700;
    }
  }
}

.button {
  overflow: hidden;
  text-overflow: ellipsis;

  .empty {
    color: $BLUISH-GRAY-300;
  }
}
