@use 'src/styles/libs' as libs;

.input {
  width: 100%;
  margin: 10px 0;
  border: none;

  background-color: inherit;
  outline: none;

  color: inherit;
  text-align: start;

  transition: color 0.3s;

  @layer {
    & {
      @include libs.font-size;

      @include libs.font-weight;
    }
  }

  &::placeholder {
    color: libs.$BLUISH-GRAY-300;
  }

  &.read-only {
    &::placeholder {
      background: libs.$BLUISH-GRAY-10;

      color: libs.$BLUISH-GRAY-700;
    }

    &:hover {
      border: none;

      outline: none;
    }

    cursor: default;

    &.clickable {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.button {
  overflow: hidden;

  text-overflow: ellipsis;

  &.empty {
    color: libs.$BLUISH-GRAY-300;
  }
}
