@import '../../../styles/libs';

.back-office-pagination {
  display: flex;
  gap: 16px;
  > .back-office-per-page {
    width: fit-content;
    min-width: 10em;

    input {
      font-size: $SMALL;
    }
  }
}
