@use 'src/styles/libs' as *;

.dropdown-tag-container {
  position: relative;

  width: fit-content;
}

.padding {
  overflow: visible;

  padding: 0 8px;
}

.default-value {
  color: $BLUISH-GRAY-400;
}

.options {
  left: 0;

  min-width: 180px;
}
