@import '../../../styles/libs';

.date-selectbox {
  width: 100%;
}

.calendar {
  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  margin-top: 16px;
}

.calendar-icon {
  color: $BLUISH-GRAY-700;
}

.day-picker {
  color: $BLUISH-GRAY-700;

  table > tbody > tr > td {
    > button {
      border-radius: 8px;

      font-weight: 500;
      font-size: $SMALL2X;

      transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    }

    > button:active:not([disabled]),
    > button:focus:not([disabled]) {
      border: none;

      background-color: $PURPLE-600;

      color: $WHITE;
    }
  }
}
