@import '../../../styles/libs';

$DISABLED_BACKGROUND_COLOR: $GRAY-400;

.button,
.delayed-button {
  overflow: hidden;
  position: relative;
  padding: 0 12px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;

  &:disabled {
    cursor: not-allowed;
    color: white;
  }
  &.button:disabled {
    background-color: $DISABLED_BACKGROUND_COLOR;
  }
  &.delayed-button:disabled {
    background-color: $BLUE-600;
  }

  //* Theme
  &.theme-gray-800 {
    background-color: $GRAY-800;
    color: white;
  }

  &.theme-transparent {
    background-color: transparent;
    color: $GRAY-800;
    &:disabled {
      background-color: transparent;
      color: $GRAY-400;
    }
    > .delay-bar {
      background-color: $GRAY-200;
    }
  }

  //* Font Size
  &.font-size-bold {
    font-weight: 700;
  }

  //* Shape
  &.shape-default {
    border-radius: 8px;
  }

  &.shape-round {
    border-radius: 50em;
  }
}

.button-content {
  z-index: 2;
  position: relative;
  margin: 14px 0;
  &.icon {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.delay-bar {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: $DISABLED_BACKGROUND_COLOR;
  &.delaying {
    transform: translateX(100%);
  }
}
