@use 'src/styles/libs' as libs;

@mixin default-color(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  background-color: $backgroundColor;

  color: $textColor;

  @include libs.border($border, 1px);

  &.delayed-button {
    &:disabled {
      background-color: $backgroundColor;

      @if $backgroundColor == transparent {
        @if $border == transparent {
          border-radius: 0;

          > .delay-bar {
            bottom: -90%;

            background-color: $textColor;
          }
        }
      }
    }
  }
}
@mixin disable-color(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:disabled {
    background-color: $backgroundColor;

    color: $textColor;

    @include libs.border($border, 1px);
  }

  &.delayed-button > .delay-bar {
    background-color: $backgroundColor;
  }
}
@mixin hover-color(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):hover {
    background-color: $backgroundColor;

    color: $textColor;

    @include libs.border($border, 1px);
  }
}
@mixin active-color(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):active {
    background-color: $backgroundColor;

    color: $textColor;

    @include libs.border($border, 1px);
  }
}

.button,
.delayed-button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;

  &:hover {
    transition: background-color 0.3s, color 0.3s;
  }

  &:disabled {
    cursor: not-allowed;
  }

  //* Size
  &.padding {
    &.children-type-text {
      padding: 0 16px;
    }

    &.children-type-icon {
      padding: 0;
    }

    &.children-type-both {
      padding: 0 10px;
    }
  }

  &.size-small3x {
    height: 20px;

    &.children-type-icon {
      width: 20px;
    }
  }

  &.size-small2x {
    height: 26px;

    &.children-type-icon {
      width: 26px;
    }
  }

  &.size-small {
    height: 32px;

    &.children-type-icon {
      width: 32px;
    }
  }

  &.size-medium {
    height: 40px;

    &.children-type-icon {
      width: 40px;
    }
  }

  &.size-large {
    height: 48px;

    &.children-type-icon {
      width: 48px;
    }
  }

  //* Shape
  &.shape-4 {
    border-radius: 4px;
  }

  &.shape-8 {
    border-radius: 8px;
  }

  &.shape-pill {
    border-radius: 9999px;
  }

  //* Icon direction
  &.icon-direction-left {
    flex-direction: row-reverse;
  }

  &.icon-direction-right {
    flex-direction: row;
  }

  // * Text align
  &.text-align-left {
    justify-content: left;
  }

  &.text-align-center {
    justify-content: center;
  }

  &.text-align-right {
    justify-content: right;
  }
}

.delay-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  &.delaying {
    transform: translateX(100%);
  }
}

//* Contained
.contained-purple550 {
  @include default-color(libs.$PURPLE-550, libs.$PURPLE-50, libs.$PURPLE-100);
  @include disable-color(libs.$PURPLE-300, libs.$PURPLE-50, libs.$PURPLE-100);
  @include hover-color(libs.$PURPLE-550, libs.$PURPLE-50);
  @include active-color(libs.$PURPLE-550, libs.$PURPLE-200, libs.$PURPLE-100);
}

.contained-purple600 {
  @include default-color(libs.$WHITE, libs.$PURPLE-600);
  @include disable-color(libs.$PURPLE-10, libs.$PURPLE-300);
  @include hover-color(libs.$WHITE, libs.$PURPLE-550);
  @include active-color(libs.$WHITE, libs.$PURPLE-700);
}

.contained-bluishGray600 {
  @include default-color(
    libs.$BLUISH_GRAY-600,
    libs.$BLUISH_GRAY-50,
    libs.$BLUISH_GRAY-100
  );
  @include disable-color(
    libs.$BLUISH_GRAY-300,
    libs.$BLUISH_GRAY-50,
    libs.$BLUISH_GRAY-100
  );
  @include hover-color(libs.$BLUISH_GRAY-600, libs.$BLUISH_GRAY-50);
  @include active-color(
    libs.$BLUISH_GRAY-600,
    libs.$BLUISH_GRAY-200,
    libs.$BLUISH_GRAY-100
  );
}

.contained-bluishGray700 {
  @include default-color(libs.$WHITE, libs.$BLUISH-GRAY-700);
  @include disable-color(libs.$BLUISH-GRAY-10, libs.$BLUISH-GRAY-300);
  @include hover-color(libs.$WHITE, libs.$BLUISH-GRAY-600);
  @include active-color(libs.$WHITE, libs.$BLUISH-GRAY-800);
}

.contained-bluishGray800 {
  @include default-color(libs.$WHITE, libs.$BLUISH-GRAY-800);
  @include disable-color(libs.$BLUISH-GRAY-10, libs.$BLUISH-GRAY-300);
  @include hover-color(libs.$WHITE, libs.$BLUISH-GRAY-700);
  @include active-color(libs.$WHITE, libs.$BLUISH-GRAY-900);
}

//* Ghost
.ghost-purple600 {
  @include default-color(libs.$PURPLE-600, transparent);
  @include disable-color(libs.$PURPLE-300, transparent);
  @include hover-color(libs.$PURPLE-600, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$PURPLE-600, transparent, libs.$BLUE-500);
}

.ghost-bluishGray300 {
  @include default-color(libs.$BLUISH-GRAY-300, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-300, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-300, transparent, libs.$BLUE-500);
}

.ghost-bluishGray400 {
  @include default-color(libs.$BLUISH-GRAY-400, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-400, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-400, transparent, libs.$BLUE-500);
}

.ghost-bluishGray500 {
  @include default-color(libs.$BLUISH-GRAY-500, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-500, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-500, transparent, libs.$BLUE-500);
}

.ghost-bluishGray600 {
  @include default-color(libs.$BLUISH-GRAY-600, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-600, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-600, transparent, libs.$BLUE-500);
}

.ghost-bluishGray700 {
  @include default-color(libs.$BLUISH-GRAY-700, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-700, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-700, transparent, libs.$BLUE-500);
}

.ghost-bluishGray800 {
  @include default-color(libs.$BLUISH-GRAY-800, transparent);
  @include disable-color(libs.$BLUISH-GRAY-300, transparent);
  @include hover-color(libs.$BLUISH-GRAY-800, libs.$BLUISH-GRAY-10);
  @include active-color(libs.$BLUISH-GRAY-800, transparent, libs.$BLUE-500);
}

//* Outlined
.outlined-bluishGray400 {
  @include default-color(
    libs.$BLUISH-GRAY-400,
    transparent,
    libs.$BLUISH-GRAY-200
  );
  @include disable-color(
    libs.$BLUISH-GRAY-300,
    libs.$BLUISH-GRAY-10,
    libs.$BLUISH-GRAY-200
  );
  @include hover-color(
    libs.$BLUISH-GRAY-400,
    libs.$BLUISH-GRAY-50,
    libs.$BLUISH-GRAY-200
  );
  @include active-color(
    libs.$BLUISH-GRAY-400,
    libs.$BLUISH-GRAY-200,
    libs.$BLUISH-GRAY-300
  );
}

.outlined-bluishGray500 {
  @include default-color(
    libs.$BLUISH-GRAY-500,
    transparent,
    libs.$BLUISH-GRAY-200
  );
  @include disable-color(
    libs.$BLUISH-GRAY-500,
    libs.$BLUISH-GRAY-10,
    libs.$BLUISH-GRAY-200
  );
  @include hover-color(
    libs.$BLUISH-GRAY-500,
    libs.$BLUISH-GRAY-50,
    libs.$BLUISH-GRAY-200
  );
  @include active-color(
    libs.$BLUISH-GRAY-500,
    libs.$BLUISH-GRAY-200,
    libs.$BLUISH-GRAY-300
  );
}

.outlined-bluishGray600 {
  @include default-color(
    libs.$BLUISH-GRAY-600,
    transparent,
    libs.$BLUISH-GRAY-200
  );
  @include disable-color(
    libs.$BLUISH-GRAY-600,
    libs.$BLUISH-GRAY-10,
    libs.$BLUISH-GRAY-200
  );
  @include hover-color(
    libs.$BLUISH-GRAY-600,
    libs.$BLUISH-GRAY-50,
    libs.$BLUISH-GRAY-200
  );
  @include active-color(
    libs.$BLUISH-GRAY-600,
    libs.$BLUISH-GRAY-200,
    libs.$BLUISH-GRAY-300
  );
}

.outlined-bluishGray700 {
  @include default-color(
    libs.$BLUISH-GRAY-700,
    transparent,
    libs.$BLUISH-GRAY-200
  );
  @include disable-color(
    libs.$BLUISH-GRAY-300,
    libs.$BLUISH-GRAY-10,
    libs.$BLUISH-GRAY-200
  );
  @include hover-color(
    libs.$BLUISH-GRAY-700,
    libs.$BLUISH-GRAY-50,
    libs.$BLUISH-GRAY-200
  );
  @include active-color(
    libs.$BLUISH-GRAY-700,
    libs.$BLUISH-GRAY-200,
    libs.$BLUISH-GRAY-300
  );
}

.outlined-bluishGray800 {
  @include default-color(
    libs.$BLUISH-GRAY-800,
    transparent,
    libs.$BLUISH-GRAY-200
  );
  @include disable-color(
    libs.$BLUISH-GRAY-300,
    libs.$BLUISH-GRAY-10,
    libs.$BLUISH-GRAY-200
  );
  @include hover-color(
    libs.$BLUISH-GRAY-800,
    libs.$BLUISH-GRAY-50,
    libs.$BLUISH-GRAY-200
  );
  @include active-color(
    libs.$BLUISH-GRAY-800,
    libs.$BLUISH-GRAY-200,
    libs.$BLUISH-GRAY-300
  );
}
