@import '../../../styles/libs';

@mixin theme(
  $text,
  $disabled-text,
  $bg,
  $disabled-bg,
  $hover-bg,
  $active-bg,
  $focus-bg,
  $focus-border
) {
  &.contained {
    background-color: $bg;
    color: $text;

    &:disabled {
      background-color: $disabled-bg;
      color: $disabled-text;
    }

    &:not(:disabled) {
      &:hover {
        background-color: $hover-bg;
      }

      &:active {
        background-color: $active-bg;
      }

      &:focus {
        background-color: $focus-bg;
      }
    }
  }

  &.ghost {
    background-color: transparent;
    color: $bg;

    &:disabled {
      color: $disabled-bg;
    }

    &:not(:disabled) {
      &:hover {
        background-color: $BLUISH-GRAY-10;
      }

      &:active {
        background-color: $BLUISH-GRAY-100;
      }
    }
  }

  &.focus-outline {
    &:focus {
      @include border($focus-border, 2px);
    }
  }

  &.delayed-button {
    &:disabled {
      background-color: $bg;
    }
    > .delay-bar {
      background-color: $disabled-bg;
    }

    &.ghost {
      border-radius: 0;
      background-color: transparent;
      > .delay-bar {
        bottom: -90%;
        background-color: $bg;
      }
    }
  }
}

.button,
.delayed-button {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 8px;

  &:disabled {
    cursor: not-allowed;
  }

  //* Theme
  &.theme-blue-600 {
    @include theme(
      $WHITE,
      $BLUE-10,
      $BLUE-600,
      $BLUE-300,
      $BLUE-500,
      $BLUE-700,
      $BLUE-600,
      $BLUE-500
    );
  }
  &.theme-bluish-gray-800 {
    @include theme(
      $WHITE,
      $BLUISH-GRAY-10,
      $BLUISH-GRAY-800,
      $BLUISH-GRAY-300,
      $BLUISH-GRAY-700,
      $BLUISH-GRAY-900,
      $BLUISH-GRAY-800,
      $BLUE-500
    );
  }

  //* Size
  &.children-type-text {
    padding: 0 16px;
  }
  &.children-type-icon {
    padding: 0;
  }
  &.children-type-both {
    padding: 0 10px;
  }

  &.size-small {
    height: 32px;
    &.children-type-icon {
      width: 32px;
    }
  }

  &.size-medium {
    height: 40px;
    &.children-type-icon {
      width: 40px;
    }
  }

  &.size-large {
    height: 48px;
    &.children-type-icon {
      width: 48px;
    }
  }

  //* Font Size
  &.font-size-bold {
    font-weight: 700;
  }

  //* Shape
  &.shape-default {
    border-radius: 8px;
  }

  &.shape-round {
    border-radius: 50em;
  }

  //* Icon direction
  &.icon-direction-left {
    flex-direction: row-reverse;
  }
  &.icon-direction-right {
    flex-direction: row;
  }
}

.button-content {
  z-index: 2;
  position: relative;
  margin: 14px 0;
  &.icon {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.delay-bar {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  &.delaying {
    transform: translateX(100%);
  }
}
