@import '../../../styles/libs';

.upload-button {
  width: 100%;
}

.file-input {
  display: none;
}

.download-link {
  flex: 1;
  overflow: hidden;

  color: $BLUISH-GRAY-700;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.actived {
    &:hover {
      color: $PURPLE-600;
    }
  }
  &.disabled {
    color: $BLUISH-GRAY-400;

    cursor: not-allowed;
  }
}
