@import '../../../styles/libs';

@mixin color($color, $changeColor: darken($color, 50%)) {
  color: $color;
  &.hover-type-color-change {
    &:hover {
      color: $changeColor;
    }
  }
}

.link {
  @include font-size;
  @include font-weight;
  &.hover-type-underline {
    &:hover {
      text-decoration: underline;
    }
  }
  &.hover-type-color-change {
    transition: color 0.3s;
  }
  &.color-puple-550 {
    @include color($PURPLE-550);
  }
  &.color-puple-600 {
    @include color($PURPLE-600);
  }

  &.color-bluish-gray-800 {
    @include color($BLUISH-GRAY-800, $PURPLE-600);
  }
}
