@use 'src/styles/libs' as libs;

.table {
  &.hidden {
    visibility: hidden;
  }

  &.ready {
    @include libs.fade-in(0.3s);
  }

  overflow: auto;

  background-color: libs.$WHITE;

  text-align: left;

  > table {
    position: relative;

    width: 100%;
    border-collapse: separate;
  }
}

@layer default {
  .table {
    width: 100%;
    height: 100%;
  }
}
