@import '../../../styles/libs';

.table {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: $WHITE;
}

.title {
  position: absolute;

  padding: 10px;

  white-space: pre;

  transition: left 0.3s ease-in-out;
}
