@use 'src/styles/libs' as libs;

.row {
  background-color: libs.$WHITE;

  transition: background-color 0.3s;

  &:hover {
    background-color: libs.$BLUISH-GRAY-10;

    > td {
      background-color: libs.$BLUISH-GRAY-10;
    }
  }
}
