@import '../../../styles/libs';

.textarea {
  width: 100%;
  height: fit-content;
}

.textarea-content {
  @include font-size;
  @include font-weight;
  box-sizing: border-box;
  width: 100%;
  padding: 18px;
  border: none;

  background-color: transparent;
  outline: none;

  resize: none;
  &.resize {
    resize: vertical;
  }

  &::placeholder {
    color: $BLUISH-GRAY-300;
  }

  &:disabled {
    resize: none;
    &.read-only {
      color: $BLUISH-GRAY-700;

      cursor: default;
    }
  }
}
