@use 'src/styles/libs' as libs;

.textarea {
  width: 100%;
  height: fit-content;
}

.textarea-content {
  @include libs.font-size;
  @include libs.font-weight;
  box-sizing: border-box;
  width: 100%;
  min-height: 6rem;
  padding: 18px;
  border: none;

  background-color: transparent;
  outline: none;

  resize: none;

  &.resize {
    resize: vertical;
  }

  &::placeholder {
    color: libs.$BLUISH-GRAY-300;
  }

  &:disabled {
    resize: none;
  }

  &.read-only {
    color: libs.$BLUISH-GRAY-700;

    cursor: default;
  }
}

.floating-action-container {
  position: absolute;
  bottom: 12px;
  left: 12px;
}
