.selectbox {
  width: 100%;

  &.label-row,
  &.label-column {
    display: flex;
    gap: 10px;
  }

  &.label-row {
    align-items: center;
  }
  &.label-column {
    flex-direction: column;
    align-items: flex-start;
  }
}
