.layer-width {
  width: 100%;

  .selectbox-input {
    padding-right: 18px;
  }

  .selectbox-icon {
    position: absolute;
    right: 17px;
    display: flex;
    align-items: center;
  }
}

.align-end {
  margin-left: auto;
}
