@import '../../../styles/libs';

.tab-menu {
  display: flex;
  gap: 16px;
  height: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  > li {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.tab-menu-link-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-line-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tab-menu-link {
  white-space: nowrap;
}
