@import '../../../styles/libs';

.tab-menu {
  display: flex;
  gap: 16px;
  overflow-x: auto;

  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  > li {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.tab-menu-link-wrap {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.selected-line-wrap {
  position: absolute;
  bottom: 0;

  width: 100%;
}

.tab-menu-link {
  white-space: nowrap;
}
