@import '../../../styles/libs';

$OPTIONS-BORDER-RADIUS: 10px;

.options {
  position: absolute;

  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: $OPTIONS-BORDER-RADIUS;

  background-color: $WHITE;
  box-shadow: $NORMAL-BOX-SHADOW;

  &.closing,
  &.opening {
    cursor: default;
  }

  &.top {
    bottom: 100%;

    margin-bottom: 0.5rem;
    &.opening {
      @include fade-in-bottom;
    }
    &.closing {
      @include fade-out-bottom;
    }
  }

  &.bottom {
    top: 100%;

    margin-top: 0.5rem;
    &.opening {
      @include fade-in-top;
    }
    &.closing {
      @include fade-out-top;
    }
  }
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;

  max-height: 300px;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    display: none;
  }

  > li {
    scroll-snap-align: start;

    width: 100%;
  }

  &.mouse-hover-enabled > li > .option-item {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $BLUISH-GRAY-10;

      color: $BLUISH-GRAY-700;
    }
  }
}

.option-item {
  display: flex;
  gap: 4px;
  justify-content: space-between;

  min-width: 100%;
  max-width: 100%;
  padding: 0.8em;
  border-radius: 5px;

  outline: none;

  color: $BLUISH-GRAY-700;
  text-align: start;
  white-space: pre-wrap;
  &.selected {
    background-color: $BLUE-10;

    color: $BLUE-600;
  }

  &.hovered {
    background-color: $BLUISH-GRAY-10;
  }
}

.check-icon-wrap {
  width: 24px;
  height: 24px;
}
