@import '../../../styles/libs';

.options {
  position: absolute;
  right: 0;
  z-index: 10;

  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 10px;

  background-color: $WHITE;
  box-shadow: $NORMAL-BOX-SHADOW;

  color: $BLUISH-GRAY-700;
  &.closing,
  &.opening {
    cursor: default;
  }

  &.opening {
    @include fade-in(0.3s);
  }
  &.closing {
    @include fade-out(0.1s);
  }

  &.top {
    bottom: 100%;

    margin-bottom: 0.5rem;
  }

  &.bottom {
    top: 100%;

    margin-top: 0.5rem;
  }
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow-y: auto;

  width: 100%;
  max-height: 400px;
  margin: 0;
  padding: 0;

  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.option-wrap {
  scroll-snap-align: start;

  width: 100%;
}

.option-item {
  display: flex;
  gap: 4px;
  justify-content: space-between;

  min-width: 100%;
  max-width: 100%;
  padding: 0.8em 0.6em;
  border: 0;
  border-radius: 5px;

  background-color: transparent;
  outline: none;

  color: inherit;
  font-weight: 400;
  text-align: start;
  white-space: pre-wrap;

  cursor: pointer;
  &.selected {
    background-color: $BLUE-10;

    color: $BLUE-600;
  }
}

.hovered {
  background-color: $BLUISH-GRAY-10;

  color: $BLUISH-GRAY-700;
}

.icon-wrap {
  margin-top: 0.1em;

  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
