@import '../../../styles/libs';

.accordian-container {
  overflow: hidden;

  border: 1px solid $BLUISH-GRAY-100;
  border-radius: 16px;

  background-color: $WHITE;
}

.title-contaienr {
  display: flex;
}

.accordian-title-wrap {
  width: 100%;
}

.accordian-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px 24px;

  > .title-contents {
    flex: 1;
    overflow: hidden;

    text-align: start;
  }
}

.accordian-contents-wrap {
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;

  transition: height 0.3s;
}

.accordian-contents {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;

  @include fade-out-top(0.3s);

  &.opened {
    @include fade-in-top(0.3s);
  }
}

.chevron-down-icon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  margin-left: 1em;

  color: $BLUISH-GRAY-300;

  transition: transform 0.3s ease-in-out;
  stroke-width: 2;

  &.opened {
    transform: rotate(180deg);
  }
}
