@import '../../../styles/libs';

.partner-accordion {
  background-color: $BLUISH-GRAY-10;
}

.title-container {
  display: flex;
  flex: 1;
}

.title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  font-weight: 700;
  color: $BLUISH-GRAY-700;
}

.title-contents {
  display: flex;
  align-items: center;
  gap: 16px;
}

.partner-profile-icon {
  border-radius: 100%;
}

.contents {
  font-weight: 500;
  color: $BLUISH-GRAY-700;
}
